# ==========================
# NODE MODULES
# ==========================
node_modules

# ==========================
# ENV FILES
# ==========================
.env

# ==========================
# UPLOADS
# ==========================
server/uploads

# ==========================
# LOG FILES
# ==========================
*.log

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VSCODE
# ==========================
.vscode